@page "/distancecalculator"


<PageTitle>Distance Calculator</PageTitle>

<h1>Find route for your package</h1>
<hr/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



<PageTitle>Distance Calculator</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <LocationSelector Label="From:" Locations="@Locations" @bind-Selected="SelectedSource"></LocationSelector>
            <LocationSelector Label="To:" Locations="@Locations" @bind-Selected="SelectedDestination"></LocationSelector>


            <button class="btn btn-primary mb-5" @onclick="CalculateDistance">Calculate</button>

            @if (DisplayDistance is not null)
            {

                <span class="starred col-md-10 route alert alert-primary" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
                    <span>@DisplaySource</span>

                    <div style="display: flex; flex-direction: column; align-items: center;">
                    <span id="distance">@DisplayDistance hours</span>
                    <img src="Arrow.png" alt="Responsive image" class="img-fluid full-width">
                    <span id="price">Total price £@DisplayPrice</span>
                    </div>

                    <span>@DisplayDestination</span>
                </span>

                @inject NavigationManager NavigationManager

                <button style="margin-bottom: 10px;" class="btn btn-primary" @onclick="NavigateToOrderConfirmation">
                    Checkout
                </button>

                @code {
                private void NavigateToOrderConfirmation()
                {
                    NavigationManager.NavigateTo("/orderconfirmation");
                }
            }
            }
        
            
        </div>
        <div class="col-md-6">
            <img src="Image.jpg" alt="Responsive image" class="img-fluid full-width">
        </div>
    </div>
</div>

<br />


