@page "/distancecalculator"

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<PageTitle>Distance Calculator</PageTitle>

<div class="container">
    <div class="row">
        <h1>Distance Calculator</h1>
        <div class="col-md-6">
            <LocationSelector Label="From:" Locations="@Locations" @bind-Selected="SelectedSource"></LocationSelector>
            <LocationSelector Label="To:" Locations="@Locations" @bind-Selected="SelectedDestination"></LocationSelector>
            <button class="btn btn-primary mb-5" @onclick="CalculateDistance">Calculate</button>

            @inject NavigationManager NavigationManager

            <button class="btn btn-primary" @onclick="NavigateToOrderConfirmation">
                Go to Order Confirmation
            </button>

            @code {
                private void NavigateToOrderConfirmation()
                {
                    NavigationManager.NavigateTo("/orderconfirmation");
                }
            }
         
            
        </div>
        <div class="col-md-6">
            <img src="map.png" alt="Responsive image" class="img-fluid full-width">
        </div>
    </div>
</div>

<br />

@if (DisplayDistance is not null)
{
    <span class="alert alert-primary">
        <span>@DisplaySource</span>
        <span class="oi oi-arrow-right mr-1" aria-hidden="true"></span>
        <span>@DisplayDistance km</span>
        <span class="oi oi-arrow-right" aria-hidden="true"></span>
        <span>@DisplayDestination</span>
    </span>
}
