@page "/orderconfirmation"

<!DOCTYPE html>
<html>
<head>
    <style>
        .center-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center-screen">
        <h2>Order successfully completed and will be shipped, as soon as possible. <br />Your order ID is: 31213213</h2>
    </div>
</body>
</html>